@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto&display=swap');


*, *::before, *::after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight-color: #5EBD91;
  --text-color: #000000;
  --accent-color: #FBF6F6;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p, a  {
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  font-family: Open Sans, sans-serif;
  font-weight: 800;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
}

.navbar {
  max-width: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.tools-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-responsive {
  width: 100%;
  max-width: 60px;
}